AddType application/x-httpd-php72 .php
RewriteEngine on
RewriteCond %{HTTP_HOST} ^admin.teccharm.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.admin.teccharm.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
